tdv/__pycache__
tdv/ddr/__pycache__/
__pycache__/
*.py[cod]
.venv/
.ipynb_checkpoints/
tdv_md.md
data/Kobler_Total_Deep_Variation_for_Linear_Inverse_Problems_CVPR_2020_paper.pdf
data/f001a066.fits
data/face.jpg